<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cd-Collection</title>
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/artist/create">create a new artist</a></li>
    <li><a href="/album/create">create a new album</a></li>
  </ul>
  {{{body}}}
</body>

</html>