<h1>Home</h1>

<form action="/user-data" method="GET">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="username" />

  <button type="submit">Save name</button>
</form>